<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <targets>
        <target name="logTrace" xsi:type="File" fileName="${basedir}/Logs/logTrace.txt" layout="${date:format=MM\/dd\/yyyy HH\:mm\:ss} || ${level} || ${message}"/>
        <target name="logInfo" xsi:type="File" fileName="${basedir}/Logs/logInfo.txt" layout="${date:format=MM\/dd\/yyyy HH\:mm\:ss} || ${level} || ${message}"/>
        <target name="logError" xsi:type="File" fileName="${basedir}/Logs/logError.txt" layout="${date:format=MM\/dd\/yyyy HH\:mm\:ss} || ${level} || ${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logTrace" />
        <logger name="*" minlevel="Info" writeTo="logInfo" />
        <logger name="*" minlevel="Error" writeTo="logError" />
    </rules>
</nlog>